<header class="header">
	<div class="container flex center">

		<img src="./img/logo.svg" alt="" class="logo_img">

		<div class="flex center langs">
			<a href="#" class="curr">Рус</a>
			<a href="#">Каз</a>
		</div>

		<button class="btn btn--blue">
			<img src="./img/log.svg" alt="" class="btn_ico">
			<span class="mh">Войти в кассу</span>
		</button>

		<button class="btn">
			<img src="./img/reg.svg" alt="" class="btn_ico">
			<span class="mh">Регистрация</span>
		</button>

	</div>
</header>

<script data-b24-form="click/80/mlkk5r" data-skip-moving="true">
	(function(w,d,u){
			var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
			var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
	})(window,document,'https://ep.uchet.kz/upload/crm/form/loader_80_mlkk5r.js');
</script>
<button class="call--btn">
	<i class="fa fa-phone" aria-hidden="true"></i>
</button>